/* Text styles */
.xr_s0 {font-size:21px;text-decoration:none;letter-spacing:0.0em;}
.xr_s1 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s2 {font-family:Arial;font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;color:#EBEBEB;letter-spacing:0.0em;}
.xr_s3 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:5px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s4 {font-family:Times New Roman;font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s5 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:21px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s6 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;letter-spacing:0.0em;}
.xr_s7 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;color:#0003FF;letter-spacing:0.0em;}
.xr_s8 {font-family:Verdana, Geneva, sans-serif;font-weight:bold;font-style:normal;font-size:14px;text-decoration:none;color:#0E3133;letter-spacing:0.0em;}
.xr_s9 {font-family:Verdana, Geneva, sans-serif;font-weight:bold;font-style:normal;font-size:10px;text-decoration:none;color:#333333;letter-spacing:0.0em;}
.xr_s10 {font-family:Verdana, Geneva, sans-serif;font-weight:normal;font-style:normal;font-size:10px;text-decoration:none;color:#333333;letter-spacing:0.0em;}
